@charset "UTF-8";
#nav {
  justify-content: space-evenly;
}

#account {
  justify-content: right;
}

#headerNavbar {
  background-color: #54763c;
}

/* src/Carousel.css */
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn--prev {
  left: 0;
}

.carousel__btn--next {
  right: 0;
}

.carousel__img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.carousel__img:hover {
  transform: scale(1.05);
}

/* Contenedor general de cada card */
.card {
  display: flex;
  flex-direction: row; /* Alinea imagen y contenido en fila */
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.normalCard {
  max-width: 500px;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* Imagen de la card */
.card-image {
  width: 100%;
  max-width: 150px; /* Tamaño máximo de la imagen */
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

/* Contenido de la card */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Título de la card */
.card-title {
  font-size: 1.1em;
  margin: 0;
  color: #333;
}

/* Contenedor de múltiples cards */
.p-1 {
  display: flex;
  flex-wrap: wrap; /* Permite que las cards se envuelvan si el espacio es limitado */
  gap: 20px;
  justify-content: center; /* Centra las cards en el contenedor */
}

.container {
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  padding: 1rem; /* Espacio interior para el contenedor */
  justify-content: center;
}

.squadsDivDatos {
  width: 100%;
}

.squad-card {
  margin-bottom: 1rem; /* Espacio entre las tarjetas */
  border: 2px solid #ccc; /* Borde exterior de la tarjeta */
  border-radius: 8px; /* Bordes redondeados para la tarjeta */
  background-color: #fff; /* Fondo blanco para la tarjeta */
  overflow: hidden; /* Evitar que los elementos internos sobresalgan */
  box-shadow: none; /* Eliminar sombras de Bootstrap */
  width: 100vh;
}

.custom-card {
  border: none; /* Eliminar el borde de Bootstrap */
  border-radius: 0; /* Ajustar bordes redondeados si es necesario */
  background-color: transparent; /* Asegurarte de que no haya un fondo por defecto */
}

.squad-card-content {
  padding: 1rem; /* Espacio interior para el contenido de la tarjeta */
  background-color: #f9f9f9; /* Fondo gris claro para el contenido */
  border-radius: 8px; /* Bordes redondeados para el contenido (opcional) */
  width: -moz-max-content;
  width: max-content;
}

.squad-card-image {
  width: 150px; /* Ancho de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 8px; /* Bordes redondeados para la imagen */
}

.squad-card-title {
  font-size: 1.5rem; /* Tamaño de fuente para el título */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
}

.squad-card-weapons {
  margin-top: 1rem; /* Espacio entre el contenido y la tabla de armas */
}

.squad-card-table {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse; /* Colapsar bordes de la tabla */
}

.squad-card-table th, .squad-card-table td {
  border: 1px solid #ddd; /* Bordes de las celdas */
  padding: 8px; /* Espacio interior en las celdas */
  text-align: left; /* Alinear texto a la izquierda */
}

.squad-card-footer {
  margin-top: 1rem; /* Espacio entre la tabla de armas y el pie de la tarjeta */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño para el footer */
  color: #777; /* Color de texto gris */
}

.squad-keywords {
  display: inline; /* Asegura que las keywords se alineen en una línea */
  margin: 0; /* Sin márgenes para las palabras clave */
}

.footer {
  display: flex;
  width: 100%;
  background-color: #54763c;
  color: #fff;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  width: 60px;
  height: 60px;
  background-image: url("../../../assets/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

.root {
  width: 100%;
}