.squad-page {
    // Hacer que el contenedor principal ocupe todo el viewport y sea scrollable
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #1c1c1c;
    color: #d4af37;
    font-family: Arial, sans-serif;

    // Asegurar un espacio al final de la página para evitar que se superponga con el footer
    margin-bottom: 100px;

    // Imagen del escuadrón
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        background-color: #3D3223;
    }

    // Títulos
    h1,
    h2 {
        text-align: center;
        color: #d4af37;
        margin-bottom: 20px;
    }

    // Descripción del escuadrón
    p {
        line-height: 1.6;
        font-size: 1rem;
        margin: 10px auto;
        text-align: justify;
        max-width: 800px;
    }

    // Botón de favoritos
    .btn-primary {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #d4af37;
        border: none;
        color: #1c1c1c;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #c39c31;
        }
    }

    // Contenedor de soldados
    .soldiers-container {
        margin-top: 30px;

        // Centrar las cards usando Flexbox
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; // Espacio entre las cards

        .squad-card {
            margin: 10px 0;
            border: none;
            background-color: #2e2e2e;
            color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            transition: transform 0.3s, box-shadow 0.3s;
            width: calc(33% - 20px); // Esto asegura que las cards ocupen el 33% de la fila

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
                cursor: pointer;
            }

            // Imagen dentro de las tarjetas
            .squad-card-image {
                width: 100%;
                height: auto;
                max-height: 200px;
                /* Limita la altura máxima */
                object-fit: contain;
                /* Mantiene la relación de aspecto */
            }

            .squad-card-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;

                .squad-card-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0;
                    color: #d4af37;
                }
            }

            .squad-card-body {
                padding: 15px;
            }

            .squad-card-footer {
                padding: 10px;
                background-color: #333;
                border-radius: 0 0 8px 8px;
                font-size: 0.9rem;
            }
        }
    }

    .squad-card-table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
        font-size: 0.9rem;
        background-color: #333;

        th,
        td {
            padding: 8px;
            text-align: left;
            border: 1px solid #444;
        }

        th {
            background-color: #444;
            color: #d4af37;
        }

        td {
            background-color: #2e2e2e;
            color: #fff;
        }
    }

    .squad-keywords {
        color: #d4af37;
        font-size: 0.9rem;
    }
}