// Paleta
$marron: #e2c7b7;
$beige: #fef6e1;
$verde-oscuro: #86895d;
$verde-claro: #bec092;
$verde-muy-claro: #f8fbca75;
$verde: #eff2e1;
$blanco-whitesmoke: #f8f8f8;
$blanco: #fffffd;
$verde-muy-oscuro: #616343;
$verde-principal: #54763c;
$verde-prao: #accc7b4e;
$caqui-claro: #f0ebd7;

// Tamaños
$tam-base: 1rem;