@import "variables";
@import "navbar";
@import "carousel";
@import "card";
@import "squadCard";
@import "footer";
@import "inicio";
@import "colapsible";
@import "perfil";
@import "specialRules";
@import "games";
@import "favoritos";
@import "accessDenied";
@import "login";
@import "crudAdmin";
@import "createMenu";
@import "createData";
@import "createGame";
@import "update";
@import "updateFactionMenu";
@import "updateArmyMenu";
@import "updateSoldierMenu";
@import "updateSquadMenu";
@import "updateArmy";
@import "updateFaction";
@import "updateSquad";
@import "updateSoldier";
@import "eliminateMenu";
@import "eliminateArmy";
@import "eliminateFaction";
@import "eliminateSquad";
@import "eliminateSoldier";
@import "register";
@import "faction";
@import "army";
@import "squad";
@import "rules";

#logo {
  width: 60px;
  height: 60px;
  background-image: url("../../../assets/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; // Permitir scroll en el cuerpo
}

#root {
  height: 100%; // Asegurar que el root ocupe el alto completo
}

.root {
  width: 100%;
}